* {
	font-family: sans-serif;
}

body {
	background-color: white;
	padding: 0;
	margin: 0;
}

header.top-header {
	width: 100%;
}

	header.top-header .top {
		width: 100%;
		height: 48px;
		background-color: black;
	}

		header.top-header .top .left {
			float: left;
			height: 48px;
		}

			header.top-header .top .left .logo {
				width: 48px;
				height: 48px;
				background-color: silver;
<<<<<<< HEAD
				/*margin-left: 16px;*/
				margin: 0px 16px 0px 16px;
=======
				margin: 0px 16px 0px 0px;
>>>>>>> 60d7e4ccf43b2d0068736eb82860cf05f6079064
				float: left;
			}

			header.top-header .top .left .gif {
				display: block;
<<<<<<< HEAD
				width: 96px;
				height: 48px;
				background-color: cyan;
=======
				width: 118px;
				height: 48px;
>>>>>>> 60d7e4ccf43b2d0068736eb82860cf05f6079064
				float: left;
			}

			header.top-header .top .left .main-nav {
				float: left;
				height: 48px;
				margin: 0px;
				padding: 0px;
				list-style: none;
			}
<<<<<<< HEAD
=======
				.main-nav-hot {
					float: left;
					background-color: #151515;
					padding: 15px;
					
				}
				.main-nav-hot a {
					font-size: 13px;
					color: white;
					text-decoration: none;
					font-weight: 800;
					}
>>>>>>> 60d7e4ccf43b2d0068736eb82860cf05f6079064

				.main-nav li {
					float: left;
					padding: 15px 5px;
<<<<<<< HEAD
				}

				.main-nav li:first-of-type {
					background-color: red;
				}

					.main-nav li a {
						font-size: 12px;
						color: white;
						text-decoration: none;
						font-weight: 900;
					}

=======
					margin-left: 12px;
				}

				.main-nav li a {
					font-size: 13px;
					color: gray;
					text-decoration: none;
					font-weight: 800;
					}

				.main-nav a:hover {
					color: white;
				}

>>>>>>> 60d7e4ccf43b2d0068736eb82860cf05f6079064
			header.top-header .top .left .second-nav {
				float: left;
				height: 48px;
				margin: 0px;
				padding: 0px;
				list-style: none;
			}

				.second-nav li {
					float: left;
					padding: 15px 5px;
<<<<<<< HEAD
				}

					.second-nav li a {
						font-size: 12px;
						color: white;
=======
					margin-left: 12px;
				}

					.second-nav li a {
						font-size: 14px;
						color: gray;
>>>>>>> 60d7e4ccf43b2d0068736eb82860cf05f6079064
						text-decoration: none;
						font-weight: 100;
					}

<<<<<<< HEAD
=======
					.second-nav a:hover {
					color: white;
					}

				.new-sup {
					float: right;
					background-color: #00a256;
					width: 24px;
					height: 12px;
					box-sizing: border-box;
					margin-top: 0;
					border-radius: 2px;
					}

				.new-sup p {
					font-size: 8px;
					color: white;
					margin: 2px 0px 10px 2px;
					box-sizing: border-box;
					}

>>>>>>> 60d7e4ccf43b2d0068736eb82860cf05f6079064
		header.top-header .top .right {
			float: right;
			height: 48px;
		}

			header.top-header .top .right .search {
				display: block;
				/*background-color: pink;*/
				width: 36px;
				height: 36px;
				margin: 6px 10px;
				float: left;
				padding: 10px;
			}

				header.top-header .top .right .search i {
					color: white;
				}

			header.top-header .top .right .login {
				display: block;
				float: left;
				color: white;
				padding: 17px;
				text-decoration: none;
				font-size: 12px;
			}

			header.top-header .top .right .register {
				display: block;
				float: left;
				background-color: blue;
				color: white;
				padding: 10px 15px;
				text-decoration: none;
				font-size: 12px;
				margin: 7px;
				border-radius: 4px;
			}

	header.top-header .bottom {
		overflow-x: scroll;
		height: 80px;
	}

		header.top-header .bottom .tag-list {
			list-style: none;
			padding: 0px;
			margin: 0px;
			padding: 15px 0;
			width: 100%;	
			white-space: nowrap;
		}

			header.top-header .bottom .tag-list li {
				background-color: black;
				height: 30px;
				border-radius: 15px;
				font-size: 12px;
				padding: 8px 10px 0 10px;
				box-sizing: border-box;
				margin: 0 10px;
				display: inline-block;
			}

				header.top-header .bottom .tag-list li a {
					color: white;
					text-decoration: none;
				}

main {
	background-color: lime;
	width: 1000px;
	min-height: 300px;
	margin: 0 auto;
	padding-top: 50px;
<<<<<<< HEAD

=======
>>>>>>> 60d7e4ccf43b2d0068736eb82860cf05f6079064
}

	main .main-left {
		width: 60%;
		min-height: 100px;
<<<<<<< HEAD
		background-color: white;
		float: left;
	}

		main .post img {
			width: 100%;
		}
			main .info .subtitle {
				font-size: 14px;
				font-weight: bold;
				color: cyan;
				text-decoration: none;
				}
				main .counters {
				color: gray;
				font-size: 14px;
				font-weight: bold;
				text-decoration: none;
				}
			.share-vote {
				color: gray;
			}

=======
		background-color: gray;
		float: left;
	}

>>>>>>> 60d7e4ccf43b2d0068736eb82860cf05f6079064
	main .main-right {
		width: 30%;
		min-height: 100px;
		background-color: purple;	
		float: right;
<<<<<<< HEAD
	}
	

=======
	}
>>>>>>> 60d7e4ccf43b2d0068736eb82860cf05f6079064
